html {
    font-size: 35px;
}

/* Style the body */
body {
    background-color: #131212;
    color: rgb(208, 214, 213);
    font-family: "Times New Roman", serif; /* Corrected font declaration */
}

/* Hyperlink hover effect */
a:hover {
    color: #ff5100; /* Change this to your desired hover color */
}

/* table style*/
table, tr, th, td, caption {
    border: 1px solid #eee;
    background-color: rgb(191, 240, 77);
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.4rem;
}
