html {
    font-size: 35px;
}

/* Style the body */
body {
    background-color: #131212;
    color: rgb(208, 214, 213);
    font-family: "Times New Roman", serif; /* Corrected font declaration */
}

/* Hyperlink hover effect */
a:hover {
    color: #ff5100; /* Change this to your desired hover color */
}
